/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.display-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

input[type="text"] {
    width: 2em;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px;
}

span {
    font-size: 2em;
}

.controls-wrapper {
    margin-top: 20px;
}

#controls {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.btn:hover {
    background-color: #0056b3;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
}

strong {
    font-weight: bold;
    color: #007BFF;
}
