.loader-backdrop {
    position: fixed; /* Fixed position to cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(9, 9, 9, 0.5); /* Semi-transparent white background */
    display: flex; /* Using flex to center the loader */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* High z-index to ensure it covers other content */
  }
  
  .loader {
    border: 6px solid rgba(0, 0, 0, 0.1); /* Light grey border */
    border-radius: 50%; /* Circular border */
    border-top: 6px solid #3498db; /* Blue part */
    width: 40px; /* Width of the spinner */
    height: 40px; /* Height of the spinner */
    animation: spin 1s linear infinite; /* Animation applied here */
  }
  
  @keyframes
  