.nav-items{
    font-size: 1.8rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item{
    display: flex;
    font-size: 1.3rem;
    padding: 0  2rem;
    text-decoration: none;
}

.nav-item .active{
    text-decoration: underline;
    color: #fff;
    border: 1px solid;
}